################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataModel/obj
/DataAccess/obj
/BusinessLogic/obj
/B2B/obj
/DataModel/bin
/DataAccess/bin
/BusinessLogic/bin
/B2B/bin